<div class="container-fluid ">
  <br>
  <section class="row">
    <section class="col-md-8">
      <section class="row">
        <div class="col-md-2 app-icon" >
          <div class="app-icon-img">
            <%= link_to image_tag("img_delivery.png", id: "application-icon"), application_path(app_name: "delivery")  %>
          </div>
          <div class="app-icon-title">
            <p>Delivery</p>
          </div>
        </div>
        <div class="col-md-2 app-icon" >
          <div class="app-icon-img">
            <%= link_to image_tag("img_payment.png", id: "application-icon") %>
          </div>
          <div class="app-icon-title">
            <p>Payment</p>
          </div>
        </div>
        <div class="col-md-2 app-icon" >
          <div class="app-icon-img">
            <%= link_to image_tag("img_satellite.png", id: "application-icon") %>
          </div>
          <div class="app-icon-title">
            <p>Tracking</p>
          </div>
        </div>
        <div class="col-md-2 app-icon" >
          <div class="app-icon-img">
            <%= link_to image_tag("img_application.png", id: "application-icon") %>
          </div>
          <div class="app-icon-title">
            <p>More...</p>
          </div>
        </div>
      </section>
    </section>
    <section class="col-md-4" id="charm-panel">       
      <div class="col-md-2">
        <%= month_calendar do |date| %>          
          <%= date.day %>
        <% end %>
      </div>
    </section>
  </section>
</div>
