<div class="container" id="app-area">
  <section class="row">
    <div class="col-md-4">
      <div>
        <ul class="list-group">
        <li class="list-group-item">Account infomation</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      </div>
    </div><!-- End of left column-->
    <div class="col-md-8 container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Account Setting</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>AccountID:&nbsp</span><span><strong><%= @user.id %></strong></span>
              </div>
              <div>
                <span>AccountName:&nbsp</span><span><strong><%= @user.get_detailed_info.name %></strong></span>
              </div>
              <div>
                <span>Password:&nbsp</span><span><strong>*******</strong></span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contact Infomation</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>Full Name:&nbsp</span><span><strong><%= @user.get_detailed_info.name %></strong></span>
              </div>
              <div>
                <span>Address:&nbsp</span><span><strong><%= @user.get_detailed_info.address %></strong></span>
              </div>
              <div>
                <span>City:&nbsp</span><span><strong>Ha Noi</strong></span>
              </div>
              <div>
                <span>State:&nbsp</span><span><strong>Viet Nam</strong></span>
              </div>
              <div>
                <span>Phone Number:&nbsp</span><span><strong><%= @user.get_detailed_info.tel %></strong></span>
              </div>
              <div>
                <span>Company Name:&nbsp</span><span><strong>Sample company</strong></span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div> <!-- End of contact infomation -->
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Payment</h3>
          </div>
          <div class="panel-body">
            <div class="">
              <div class="">
                <span>Card Number:&nbsp</span><span><strong>************372</strong></span>
              </div>
              <div>
                <span>Owner:&nbsp</span><span><strong>Pham Duc Minh</strong></span>
              </div>
              <div>
                <span>Type:&nbsp</span><span><strong>Visa Debit</strong></span>
              </div>
              <button class="btn btn-default" >Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
