<%= image_tag @vehicle.image.url(:small_thumb)%>
<td><%= @vehicle.id%></td>
<td><%= @vehicle.vehicle_number %></td>
<td><%= @vehicle.point %></td>
<td><%= @vehicle.available %></td>
<td><%= @vehicle.s_id %></td>
<td><%= @vehicle.cost_per_km %></td>