<!DOCTYPE html>
<html>
<head>
  <title>GR2FreighExchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("img_home.png"), root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <% if !@breadcrumb.nil? %>
          <% @breadcrumb.each do |item| %>
            <li><a><%= item %><span class="glyphicon glyphicon-menu-right"></span></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container" id="app-area">
    <div class="row">
      <% flash.each do |message_type, message|%>
      <div class="alert alert-<%=message_type%>">
        <%= message %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
